TURSO_DATABASE_URL="libsql://hudeato-dev-hudeato-me.aws-ap-northeast-1.turso.io"
TURSO_AUTH_TOKEN="hoge"
BETTER_AUTH_BASE_URL="http://localhost:8787/api/auth"
BETTER_AUTH_SECRET="random_secret_string"
UPSTASH_REDIS_REST_URL="http://127.0.0.1:6379"
UPSTASH_REDIS_REST_TOKEN="eyJVc2VySUQiOiJkZWZhdWx0VXNlciIsIlBhc3N3b3JkIjoiZGVmYXVsdFBhc3N3b3JkIn0="
GEMINI_API_KEY="your-gemini-api-key"
