TURSO_DATABASE_URL="libsql://hudeato-dev-hudeato-me.aws-ap-northeast-1.turso.io"
TURSO_AUTH_TOKEN="hoge"
BETTER_AUTH_BASE_URL="http://localhost:8787/api/auth"
BETTER_AUTH_SECRET="random_secret_string"
UPSTASH_REDIS_REST_URL="https://willing-ladybug-18929.upstash.io"
UPSTASH_REDIS_REST_TOKEN=""
